.Root {
  display: flex;
  height: 22px;
  position: relative;
}

.Highlight {
  background-color: #c7ecfe;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;

  &_leftMargin {
    left: 8px;
  }

  &_rightMargin {
    right: 8px;
  }
}

.TextContainer {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  width: 1px;
  font-size: 16px;
  margin-left: 24px;
  position: relative;
  z-index: 1;
}

.Text {
  white-space: nowrap;

  &_wrapped {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Time {
  margin-right: 4px;
}
