
.Root{
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #323232;

  &.Holiday{
    background-color: #F5F5F5;
    color: #888888;
  }

  .Day{
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;

    .DayNumber{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      margin: 4px 6px;
      font-size: 17px;

      &_current{
        color: black;
        border-radius: 50%;
        background-color: #FF3935;
      }

      &_notCurrenWithMonth {
        width: initial;
      }
    }
    .firstDay{
      display: flex;
      align-items: center;
      margin: 4px 8px 0 0;
    }
  }
}

.EventListWrapper {
  margin-top: 5px;
  height: 1px;
  flex-grow: 1;
}

.NotCurrentMonth{
  color: #C5C5C5;
}

.TopBorder {
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
  border-top: 1px solid #C8C8CD;
  z-index: 1;
}

.RightBorder {
  position: absolute;
  width: 1px;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #C8C8CD;
  z-index: 1;
}