
.Root{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #323232;

  &.Holiday{
    background-color: #F5F5F5;
    color: #888888;
  }

  .Day{
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 3px;

    .DayNumber{
      display: flex;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;

      &_current{
        color: black;
        border-radius: 50%;
        background-color: #FF3935;
      }

      &_notCurrenWithMonth {
        width: initial;
      }
    }
    .firstDay{
      display: flex;
      align-items: center;
  
      margin-left: 2px;
    }
  }
}

.EventListWrapper {
  margin-top: 5px;
  height: 1px;
  flex-grow: 1;
}

.NotCurrentMonth{
  color: #C5C5C5;
}